<p>При реализации систем безопасности крупных объектов обязательным требованием стала интеграция подсистем между собой с помощью программного обеспечения. Каждая конкретная КСБ может изменяться: некоторые подсистемы могут быть исключены или заменены новыми.</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>Основные признаки комплексной системы безопасности.</p>

<p><strong>1. </strong>Единая система сбора, обработки и представления данных, мониторинга и управления всеми подсистемами.</p>

<p>&nbsp;</p>

<p><strong>2.</strong> Возможность задать требуемые сценарии действий любой сложности в ответ на различные события в системе. Под событием в системе понимается все, что происходит в системе: обнаружение движения подсистемой видеоконтроля, тревога датчиков охранно-пожарной сигнализации, факт прохода через двери, контролируемые подсистемой контроля доступа и т.п. Действием является все, что можно сделать в системе: включить камеру на запись, выдать предупреждение оператору, включить тревожную сигнализацию, поставить/снять датчики с охраны, запретить проход по всем дверям и т.д. В ответ на событие или некий набор событий можно определить любой набор действий системы – сценарий. Более того, применяя специальный язык сценариев, можно определить сколь угодно сложную реакцию системы на события.</p>

<p>&nbsp;</p>

<p><strong>3.</strong> Возможность интеграции любого оборудования и подсистемы, независимо от типа устройств и производителя. Интеграция осуществляется за счет протоколов обмена, программ-драйверов, контроллеров.</p>

<p>&nbsp;</p>

<p><strong>4. </strong>Модульность и открытые интерфейсы. Система может быть легко расширена как за счет включения новых модулей, так и за счет интеграции системы с уже существующими компьютеризированными системами предприятия. Дополнительные модули могут быть разработаны производителями системы безопасности.</p>

<p>&nbsp;</p>

<p><strong>5.</strong> Масштабируемость – отсутствие ограничений на масштаб охраняемого объекта и возможность подключения любого количества рабочих мест.</p>

<p>&nbsp;</p>

<p><strong>6. </strong>Многоуровневая (иерархическая) структура системы позволяет рационально распределить потоки информации между подразделениями предприятия и тем самым минимизировать объем передаваемых данных. Каждое подразделение получает только те сообщения, которые соответствуют служебным обязанностям и уровню ответственности. Тревожное сообщение может быть передано на следующий уровень системы только в том случае, если по истечении допустимого времени отсутствует реакция ответственного персонала.</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>Проектирование современной комплексной системы безопасности зачастую предъявляет требование к интеграции систем между собой. Каждый тип интеграции имеет свои особенности и применимость для решения той или иной задачи.</p>

<p>Выделим три основных типа интеграции подсистем в комплексной системе обеспечения безопасности.</p>

<p>&nbsp;</p>

<p><strong>1. Аппаратная интеграция. </strong>Представляет собой взаимодействие подсистем на уровне приборов, обычно без использования программного обеспечения. В простейшем случае, взаимодействие на аппаратном уровне осуществляется через релейные выходы: реле прибора одной подсистемы воздействует на входы датчиков прибора другой. Например, при срабатывании системы пожарной сигнализации, на приёмно-контрольном приборе срабатывает специально настроенное реле, замыкающее, либо размыкающее контакты на линии пожарной сигнализации контроллера доступа, который, в свою очередь, переходит в режим пожарной тревоги и открывает свободный проход.</p>

<p>&nbsp;</p>

<p><strong>2. Программная интеграция. </strong>Представляет собой взаимодействие программных обеспечений подсистем безопасности между собой. Способ программной интеграции применяется в случаях, когда интегрировать системы на аппаратном уровне либо неоправданно сложно, либо нецелесообразно. Как правило, таким путём интегрируются СКУД и системы видеонаблюдения. Взаимодействие подсистем между собой происходит по протоколу TCP/IP посредством локальной сети.</p>

<p>&nbsp;</p>

<p><strong>3. Аппаратно-программная интеграция. </strong>Представляет собой смешанный случай, когда аппаратное обеспечение одной подсистемы управляется из программного обеспечения другой. Так обычно интегрируются системы видеонаблюдения либо СКУД с системой ОПС. Взаимодействие осуществляется по линиям интерфейсов, используя стандартные протоколы (TCP/IP, Modbus и др.). В этом случае, требуются специальные устройства, объединяющие подсистемы&nbsp;– преобразователи интерфейсов, переходники и др.</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>Наиболее распространённый вариант интеграционных связей, объединяющих подсистемы обеспечения безопасности следующий.</p>

<p><strong><em>Системы пожарной автоматики</em></strong> объединяются между собой только при помощи аппаратной интеграции как одной из самых простых и надёжных. Реализуется следующий сценарий: срабатывает система пожарной сигнализации. От приёмо-контрольного прибора поступает сигнал на прибор системы оповещения и управления эвакуацией, где срабатывает программа эвакуационного оповещения. Включается звуковое сопровождение и объявление о пожаре через громкоговорители системы оповещения. Таким же образом поступает сигнал на пульт МЧС при помощи системы тревожных сообщений по GSM каналу или телефонии. Далее, происходит активация системы дымоудаления, также получившей сигнал от системы пожарной сигнализации. Спустя время, необходимое для эвакуации персонала и рассчитанное на стадии пусконаладочных работ системы, активируется система пожаротушения.</p>

<p>Помимо интеграции систем пожарной автоматики между собой, требуется обеспечить взаимодействие как минимум с <strong><em>системой контроля и управления доступом.</em></strong><em> </em>Для этого сигнал от системы пожарной сигнализации поступает на контроллеры или сервер системы контроля и управления доступом, которая открывает точки доступа в свободный режим прохода для обеспечения быстрой эвакуации персонала. В данном случае также целесообразно использовать аппаратную интеграцию на уровне реле из-за высокой надёжности и простоты. При приходе сигнала пожарной тревоги на сервер системы контроля и управления доступом, создаётся событие и тревоге, передаваемое в <strong><em>систему видеонаблюдения</em></strong> при помощи связей программной интеграции, которая способна выполнить следующие действия:</p>

<p>1. Используя поступающее изображение с камер наблюдения, оценить его на наличие огня и дыма и вывести данные камеры на весь экран службе охраны, также при этом начать постоянную запись событий.</p>

<p>2. Вывести на экран видеоизображения эвакуационных путей и выходов для возможности управления СОУЭ при использовании СО-4 и СО-5 и начать постоянную запись сигнала с этих видеокамер.</p>

<p>3. Выводить изображение с ассоциированной видеокамеры при вызове с панели обратной связи СОУЭ.</p>

<p>4. Включить постоянную запись с видеокамер, установленных в особо охраняемых помещениях для регистрации возможных действий злоумышленников в сложившейся суматохе.</p>

<p>&nbsp;</p>


<p>В другом сценарии, при срабатывании системы охранной сигнализации, может быть произведены следующие действия:</p>

<p>1. Сигнал о срабатывании <strong><em>охранной сигнализации</em></strong> передаётся на пульт централизованного наблюдения департамента охраны и происходит выезд оперативной группы.</p>

<p>2. <strong><em>Система контроля и управления доступом</em></strong> блокирует точки доступа, ведущие в помещение, где сработала сигнализация с возможностью открытия ответственным охранником.</p>

<p>3. <strong><em>Система видеонаблюдения</em></strong> переводит видеокамеры в режим постоянной записи на всех коридорах и самом помещении, где произошло срабатывание сигнализации и выводит изображение с этих видеокамер на монитор.</p>

<p>&nbsp;</p>

<p>Подобные сценарии, доступные при использовании различных методов интеграции позволяет повысить эффективность совокупную эффективность систем обеспечения безопасности. Для принятия решения о применении того или иного метода интеграции требует понимания тех возможностей, которые предоставляет та или иная интеграция для каждой конкретной системы безопасности. Важно при этом не упускать из виду задачу, которую необходимо решать с применением интеграции.</p>

<p>При реализации систем безопасности крупных объектов обязательным требованием стала интеграция подсистем между собой с помощью программного обеспечения. Каждая конкретная КСБ может изменяться: некоторые подсистемы могут быть исключены или заменены новыми.</p>

<p>&nbsp;</p>


<p>&nbsp;</p>

<p>Основные признаки комплексной системы безопасности.</p>

<p><strong>1. </strong>Единая система сбора, обработки и представления данных, мониторинга и управления всеми подсистемами.</p>

<p>&nbsp;</p>

<p><strong>2.</strong> Возможность задать требуемые сценарии действий любой сложности в ответ на различные события в системе. Под событием в системе понимается все, что происходит в системе: обнаружение движения подсистемой видеоконтроля, тревога датчиков охранно-пожарной сигнализации, факт прохода через двери, контролируемые подсистемой контроля доступа и т.п. Действием является все, что можно сделать в системе: включить камеру на запись, выдать предупреждение оператору, включить тревожную сигнализацию, поставить/снять датчики с охраны, запретить проход по всем дверям и т.д. В ответ на событие или некий набор событий можно определить любой набор действий системы – сценарий. Более того, применяя специальный язык сценариев, можно определить сколь угодно сложную реакцию системы на события.</p>

<p>&nbsp;</p>

<p><strong>3.</strong> Возможность интеграции любого оборудования и подсистемы, независимо от типа устройств и производителя. Интеграция осуществляется за счет протоколов обмена, программ-драйверов, контроллеров.</p>

<p>&nbsp;</p>

<p><strong>4. </strong>Модульность и открытые интерфейсы. Система может быть легко расширена как за счет включения новых модулей, так и за счет интеграции системы с уже существующими компьютеризированными системами предприятия. Дополнительные модули могут быть разработаны производителями системы безопасности.</p>

<p>&nbsp;</p>

<p><strong>5.</strong> Масштабируемость – отсутствие ограничений на масштаб охраняемого объекта и возможность подключения любого количества рабочих мест.</p>

<p>&nbsp;</p>

<p><strong>6. </strong>Многоуровневая (иерархическая) структура системы позволяет рационально распределить потоки информации между подразделениями предприятия и тем самым минимизировать объем передаваемых данных. Каждое подразделение получает только те сообщения, которые соответствуют служебным обязанностям и уровню ответственности. Тревожное сообщение может быть передано на следующий уровень системы только в том случае, если по истечении допустимого времени отсутствует реакция ответственного персонала.</p>

<p>&nbsp;</p>


<p>&nbsp;</p>

<p>Проектирование современной комплексной системы безопасности зачастую предъявляет требование к интеграции систем между собой. Каждый тип интеграции имеет свои особенности и применимость для решения той или иной задачи.</p>

<p>Выделим три основных типа интеграции подсистем в комплексной системе обеспечения безопасности.</p>

<p>&nbsp;</p>

<p><strong>1. Аппаратная интеграция. </strong>Представляет собой взаимодействие подсистем на уровне приборов, обычно без использования программного обеспечения. В простейшем случае, взаимодействие на аппаратном уровне осуществляется через релейные выходы: реле прибора одной подсистемы воздействует на входы датчиков прибора другой. Например, при срабатывании системы пожарной сигнализации, на приёмно-контрольном приборе срабатывает специально настроенное реле, замыкающее, либо размыкающее контакты на линии пожарной сигнализации контроллера доступа, который, в свою очередь, переходит в режим пожарной тревоги и открывает свободный проход.</p>

<p>&nbsp;</p>

<p><strong>2. Программная интеграция. </strong>Представляет собой взаимодействие программных обеспечений подсистем безопасности между собой. Способ программной интеграции применяется в случаях, когда интегрировать системы на аппаратном уровне либо неоправданно сложно, либо нецелесообразно. Как правило, таким путём интегрируются СКУД и системы видеонаблюдения. Взаимодействие подсистем между собой происходит по протоколу TCP/IP посредством локальной сети.</p>

<p>&nbsp;</p>

<p><strong>3. Аппаратно-программная интеграция. </strong>Представляет собой смешанный случай, когда аппаратное обеспечение одной подсистемы управляется из программного обеспечения другой. Так обычно интегрируются системы видеонаблюдения либо СКУД с системой ОПС. Взаимодействие осуществляется по линиям интерфейсов, используя стандартные протоколы (TCP/IP, Modbus и др.). В этом случае, требуются специальные устройства, объединяющие подсистемы&nbsp;– преобразователи интерфейсов, переходники и др.</p>

<p>&nbsp;</p>


<p>&nbsp;</p>

<p>Наиболее распространённый вариант интеграционных связей, объединяющих подсистемы обеспечения безопасности следующий.</p>

<p><strong><em>Системы пожарной автоматики</em></strong> объединяются между собой только при помощи аппаратной интеграции как одной из самых простых и надёжных. Реализуется следующий сценарий: срабатывает система пожарной сигнализации. От приёмо-контрольного прибора поступает сигнал на прибор системы оповещения и управления эвакуацией, где срабатывает программа эвакуационного оповещения. Включается звуковое сопровождение и объявление о пожаре через громкоговорители системы оповещения. Таким же образом поступает сигнал на пульт МЧС при помощи системы тревожных сообщений по GSM каналу или телефонии. Далее, происходит активация системы дымоудаления, также получившей сигнал от системы пожарной сигнализации. Спустя время, необходимое для эвакуации персонала и рассчитанное на стадии пусконаладочных работ системы, активируется система пожаротушения.</p>

<p>Помимо интеграции систем пожарной автоматики между собой, требуется обеспечить взаимодействие как минимум с <strong><em>системой контроля и управления доступом.</em></strong><em> </em>Для этого сигнал от системы пожарной сигнализации поступает на контроллеры или сервер системы контроля и управления доступом, которая открывает точки доступа в свободный режим прохода для обеспечения быстрой эвакуации персонала. В данном случае также целесообразно использовать аппаратную интеграцию на уровне реле из-за высокой надёжности и простоты. При приходе сигнала пожарной тревоги на сервер системы контроля и управления доступом, создаётся событие и тревоге, передаваемое в <strong><em>систему видеонаблюдения</em></strong> при помощи связей программной интеграции, которая способна выполнить следующие действия:</p>

<p>1. Используя поступающее изображение с камер наблюдения, оценить его на наличие огня и дыма и вывести данные камеры на весь экран службе охраны, также при этом начать постоянную запись событий.</p>

<p>2. Вывести на экран видеоизображения эвакуационных путей и выходов для возможности управления СОУЭ при использовании СО-4 и СО-5 и начать постоянную запись сигнала с этих видеокамер.</p>

<p>3. Выводить изображение с ассоциированной видеокамеры при вызове с панели обратной связи СОУЭ.</p>

<p>4. Включить постоянную запись с видеокамер, установленных в особо охраняемых помещениях для регистрации возможных действий злоумышленников в сложившейся суматохе.</p>

<p>&nbsp;</p>


<p>В другом сценарии, при срабатывании системы охранной сигнализации, может быть произведены следующие действия:</p>

<p>1. Сигнал о срабатывании <strong><em>охранной сигнализации</em></strong> передаётся на пульт централизованного наблюдения департамента охраны и происходит выезд оперативной группы.</p>

<p>2. <strong><em>Система контроля и управления доступом</em></strong> блокирует точки доступа, ведущие в помещение, где сработала сигнализация с возможностью открытия ответственным охранником.</p>

<p>3. <strong><em>Система видеонаблюдения</em></strong> переводит видеокамеры в режим постоянной записи на всех коридорах и самом помещении, где произошло срабатывание сигнализации и выводит изображение с этих видеокамер на монитор.</p>

<p>&nbsp;</p>

<p>Подобные сценарии, доступные при использовании различных методов интеграции позволяет повысить эффективность совокупную эффективность систем обеспечения безопасности. Для принятия решения о применении того или иного метода интеграции требует понимания тех возможностей, которые предоставляет та или иная интеграция для каждой конкретной системы безопасности. Важно при этом не упускать из виду задачу, которую необходимо решать с применением интеграции.</p>
