{% extends 'main/layout.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block keywords %}
<meta name="keywords" content="Перевощиков Василий: обо мне - личный сайт" />
{% endblock %}

{% block description %}
<meta name="description" content="Василия Перевощикова. Обо мне" />
{% endblock %}


{% block links %}
            <li><a href="{% url 'home' %}" ><span></span>Главная</a></li>
            <li><a href="{% url 'articles' %}"><span></span>Блог</a></li>
            <li><a href="{% url 'courses' %}"><span></span>Курсы</a></li>
            <li><a href="{% url 'knowledge_base' %}"><span></span>База знаний</a></li>
            <li><a href="{% url 'projects' %}"><span></span>Мои проекты</a></li>
            <li><a href="{% url 'social_networks' %}"><span></span>Я в соцсетях</a></li>
            <li><a href="{% url 'about' %}" class="current"><span></span>Обо мне</a></li>
{% endblock %}


{% block content %}
    <div id="templatemo_content">
    <h1>{% block h1 %}{{ h1 }}{% endblock %}</h1>
        	<div class="post_box">

                <h2>Давайте знакомиться!</h2>
                <br>
                <div class="image_wrapper"><img src="{% static 'main/png/my_sn_photo.jpg'%}" alt="My photo" /></div>
              <p align="justify">
                  Привет! <br>
                  Меня зовут Василий и я инженер. <i>*хлоп-хлоп-хлоп*</i> <br><br>
                  Работаю с 2013 года в сфере систем физической безопасности и кое-что в этой сфере знаю, например: <br>
                  Разработка технических решений систем охранно-пожарной и технологической сигнализации, контроля доступа, видеонаблюдения, оповещения и озвучивания, видеонаблюдения, передачи данных, систем питания и др.
                  <br>Умею в составление сопроводительной документации, выполнение пусконаладочных работ, системную интеграцию систем обеспечения безопасности.
                  <br><br> Веду свой <a href="https://www.youtube.com/user/Boyarder/videos">YouTube-канал</a>, где выкладываю записи лекций, обзоров оборудования и технологий в области систем безопасности.
                  <br> <span>Например, самое популярное видео на канале - взгляните, вдруг вам понравится:</span><br>
                  <iframe width="600" height="400" src="https://www.youtube.com/embed/ccIyZXUS880" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  <br> <br>Также участвовал в обучении персонала заказчика, составлении тендерных и коммерческих предложений, технической поддержке, проведении презентаций и семинаров.
                  <br> <span>Моё выступление на семинаре в рамках выставки "Центр безопасности" в Минске: </span><br>
                  <iframe width="600" height="400" src="https://www.youtube.com/embed/GP-LJeyuqoQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  <br>
                  <br>
                  Кроме этого, работал в направлениях:
                  <ul>
                    <li>Предпродажные консультации и разработка технических решений систем безопасности.</li>
                    <li>Техническая поддержка клиентов. </li>
                    <li>Подготовка технической части тендерных предложений. </li>
                    <li>Анализ сегментов рынка систем безопасности. </li>
                    <li>Поиск и вывод на рынок новых технических средств и систем. </li>
                    <li>Написание технической документации.</li>
                    <li>Разработка стратегии работы компании в области продвижения технических средств.</li>
                    <li>Разработка новых направлений работы компании.</li>
                    <li>Руководство созданием собственных разработок компании</li>
                    <li>Руководство выводом на рынок и продвижением собственных разработок компании</li>
                </ul>
                <br>
                С 2014 по 2020 был преподавателем в БГУИР по предметам:
                <ul>
                    <li>Технические средства систем безопасности</li>
                    <li>Проектирование электронных систем безопасности</li>
                    <li>Проектная и конструкторская документация</li>
                    <li>Технологии видеоаналитики</li>
                    <li>Датчики электронных систем безопасности</li>
                </ul>
                <br>
                Дважды гордый котовладелец
                <div class="image_wrapper"><img src="{% static 'main/png/cats.jpg'%}" alt="My cats" /></div>
                <br><br>
                С 2021 года активно развиваюсь в программировании и разработке. Уже изучил Python, кое-какие азы в django, благодаря чему создал этот сайт,
                ну и всякого по мелочи: CSS, HTML, Jinja, PyCharm, XML, WebScrapping, GitHub и т.п. <br>
                <br>Навыки:
                <ul>
                    <li>Английский язык - C2 (Proficient). <a href="https://www.efset.org/cert/yeAyik"><span>Ссылка на сертификат</span></a></li>
                    <li>HTML - самоучка. <a href="https://www.sololearn.com/Certificate/1014-21765890/jpg/"><span>Ссылка на сертификат</span></a></li>
                    <li>Python Core - самоучка. <a href="https://www.sololearn.com/certificates/course/en/21765890/1073/landscape/png"><span>Ссылка на сертификат</span></a></li>
                    <li>Python Data Structures - самоучка. <a href="https://www.sololearn.com/certificates/course/en/21765890/1159/landscape/png"><span>Ссылка на сертификат</span></a></li>
                    <li>SQL (MySQL) - самоучка. <a href="https://www.sololearn.com/certificates/course/en/21765890/1060/landscape/png"><span>Ссылка на сертификат</span></a></li>
                    <li>django - самоучка. <a href="https://github.com/Bazivar/MyWebsite"><span>Ссылка на проект</span></a></li>
                </ul>
                <br>
                Делаю проекты для себя и для работы.
                <br><br>
                Считаю программирование своего рода магией, освоить которую - важная цель. Поставил себе цель развиваться в этом направлении и, как мне кажется, очень неплохо стартанул. Посмотрим, как пойдёт дальше.
                <br>
                <br>
                Регулярно нахожу для себя новые интересные направления развития. Надеюсь, так будет и дальше
                <div class="image_wrapper"><img src="{% static 'main/png/my_photo_at_sea.jpg'%}" alt="My thoughts" /></div>
                <br>
                А что вы делаете <span>сегодня</span>, чтобы ваша жизнь была лучше <span>завтра</span>?

              <div class="cleaner"></div>
            </div>



        </div>


{% endblock %}

