{% extends 'main/layout.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block keywords %}
<meta name="keywords" content="Системы безопасности, Перевощиков Василий, тематические статьи" />
{% endblock %}

{% block description %}
<meta name="description" content="Статьи о системах безопасности. Личный сайт Василия Перевощикова. " />
{% endblock %}


{% block links %}
            <li><a href="{% url 'home' %}" ><span></span>Главная</a></li>
            <li><a href="{% url 'articles' %}" class="current"><span></span>Блог</a></li>
            <li><a href="{% url 'courses' %}"><span></span>Курсы</a></li>
            <li><a href="{% url 'knowledge_base' %}"><span></span>База знаний</a></li>
            <li><a href="{% url 'projects' %}"><span></span>Мои проекты</a></li>
            <li><a href="{% url 'social_networks' %}"><span></span>Я в соцсетях</a></li>
            <li><a href="{% url 'about' %}"><span></span>Обо мне</a></li>
{% endblock %}


{% block content %}
    <div id="templatemo_content">
            <h1>{% block h1 %}{{ h1 }}{% endblock %}</h1>


        {% for el in all_articles %}
          <div class="post_box">
                <h2><a href="{{el.url}}">{{ el.article_title }}</a></h2>
                <div class="news_meta">Оригинал опубликован в <a href="{{ el.original }}">{{ el.source }}</a>. Дата: {{ el.date }} </div>
                <div class="image_wrapper"><a href="{{ el.url }}" target="_parent"><img src="{{ el.image }}" alt="" /></a></div>
              <p align="justify"> {{ el.description }} <br> <a href="{{ el.url }}" class="continue">Продолжение ...</a></p>
              <div class="cleaner"></div>
            </div>
        {% endfor %}

        </div>


{% endblock %}

