{% extends 'main/layout.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block keywords %}
<meta name="keywords" content="Системы безопасности, курсы Перевощикова Василия" />
{% endblock %}

{% block description %}
<meta name="description" content="Курсы о системах безопасности. Личный сайт Василия Перевощикова. " />
{% endblock %}


{% block links %}
            <li><a href="{% url 'home' %}" ><span></span>Главная</a></li>
            <li><a href="{% url 'articles' %}"><span></span>Блог</a></li>
            <li><a href="{% url 'courses' %}" class="current"><span></span>Курсы</a></li>
            <li><a href="{% url 'knowledge_base' %}"><span></span>База знаний</a></li>
            <li><a href="{% url 'projects' %}"><span></span>Мои проекты</a></li>
            <li><a href="{% url 'social_networks' %}"><span></span>Я в соцсетях</a></li>
            <li><a href="{% url 'about' %}"><span></span>Обо мне</a></li>
{% endblock %}


{% block content %}
    <div id="templatemo_content">
            <h1>{% block h1 %}{{ h1 }}{% endblock %}</h1>


        <div class="post_box">
                <h2><a href="https://www.youtube.com/watch?v=Y5u7KWTT4fw&list=PLp4hMyvI4YHhCQ05OrN61kQsTgHvEY3by">Извещатели систем безопасности</a></h2>
                <div class="news_meta"> Дата: 2020- (не окончен) </div>
                <div class="image_wrapper"><a href="https://www.youtube.com/watch?v=Y5u7KWTT4fw&list=PLp4hMyvI4YHhCQ05OrN61kQsTgHvEY3by" target="_parent"><img src="{% static 'main/png/course_detectors.jpg'%}" alt="" /></a></div>
              <p align="justify"> Курс-обзор по разновидностям и принципам работы датчиков систем безопасности: <br><br>
              <ul>
                  <li>Охранные извещатели</li>
                  <li>Извещатели периметральных систем охраны</li>
                  <li>Пожарные извещатели</li>
                  <li>Технологические датчики и измерители</li>
              </ul>
              <br>
              Будет интересно всем, кто начинает знакомится с системами безопасности. Содержит записи лекций. Не окончен <br><br>
          <a href="https://www.youtube.com/watch?v=Y5u7KWTT4fw&list=PLp4hMyvI4YHhCQ05OrN61kQsTgHvEY3by" class="continue">Перейти к курсу-></a></p>
              <div class="cleaner"></div>
            </div>

        <div class="post_box">
                <h2><a href="https://www.youtube.com/watch?v=a6YiMu45ppM&list=PLp4hMyvI4YHgU_-QZUxYhvSZAUlFlj5Jn">Системы видеонаблюдения</a></h2>
                <div class="news_meta"> Дата: 2020 г. </div>
                <div class="image_wrapper"><a href="https://www.youtube.com/watch?v=a6YiMu45ppM&list=PLp4hMyvI4YHgU_-QZUxYhvSZAUlFlj5Jn" target="_parent"><img src="{% static 'main/png/video_course_image.jpg'%}" alt="" /></a></div>
              <p align="justify"> Наиболее полный курс, содержащий всё, что касается видеонаблюдения видеоаналитики: <br><br>
              <ul>
                  <li>Камеры и оконечные устройства</li>
                  <li>Источники питания</li>
                  <li>Устройства передачи данных</li>
                  <li>Кабеленесущие системы</li>
                  <li>Телекоммуникационные и электротехнические шкафы</li>
                  <li>Серверы и видеорегистраторы</li>
                  <li>Программное обеспечение</li>
                  <li>Видеоаналитика</li>
              </ul>
              <br>
              Будет интересно всем, кто начинает знакомится с системами видеонаблюдения. Содержит записи лекций и много мемов <br><br>
          <a href="https://www.youtube.com/watch?v=a6YiMu45ppM&list=PLp4hMyvI4YHgU_-QZUxYhvSZAUlFlj5Jn" class="continue">Перейти к курсу-></a></p>
              <div class="cleaner"></div>
            </div>

        <div class="post_box">
                <h2><a href="#">Проектная документация</a></h2>
                <div class="news_meta"> Дата: 2018 г. </div>
                <div class="image_wrapper"><a href="#" target="_parent"><img src="{% static 'main/png/course_design.jpg'%}" alt="" /></a></div>
              <p align="justify"> Курс по составу проектной документации для систем безопасности. Рассматривается создание проектной документации
                  в программе nanoCAD ОПС. Включает: <br><br>
              <ul>
                  <li>Состав проектной документации</li>
                  <li>Схема расположения оборудования</li>
                  <li>Схема структурная</li>
                  <li>Схема подключений</li>
              </ul>
              <br>
              Курс несколько устарел, но основные подходы не поменялись. Будет полезно начинающим проектировщикам и студентам <br><br>
          <a href="#" class="continue">Перейти к курсу-></a></p>
              <div class="cleaner"></div>
            </div>


        <div class="post_box">
                <h2><a href="#">Устройства систем безопасности</a></h2>
                <div class="news_meta"> Дата: 2015 г. </div>
                <div class="image_wrapper"><a href="#" target="_parent"><img src="{% static 'main/png/course_security.jpg'%}" alt="" /></a></div>
              <p align="justify"> Курс по устройствам систем безопасности: от датчиков до камер видеонаблюдения. Был своего рода попыткой охватить всё,
                  однако составлялся давно и уже устарел. Состав курса:<br><br>
              <ul>
                  <li>Комплексные системы безопасности</li>
                  <li>Источники бесперебойного питания</li>
                  <li>Сети передачи данных</li>
                  <li>Системы хранения данных</li>
                  <li>Системы контроля доступа</li>
                  <li>Системы видеонаблюдения</li>
                  <li>Системы пожарной сигнализации</li>
                  <li>Системы охранной сигнализации</li>
              </ul>
              <br>
              Курс устарел. Изучать следует через призму данного факта <br><br>
          <a href="#" class="continue">Перейти к курсу-></a></p>
              <div class="cleaner"></div>
            </div>

        </div>


{% endblock %}

