{% extends 'main/layout.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block keywords %}
<meta name="keywords" content="Системы безопасности, Перевощиков Василий, личный блог" />
{% endblock %}

{% block description %}
<meta name="description" content="Личный сайт Василия Перевощикова. Добро пожаловать" />
{% endblock %}


{% block links %}
            <li><a href="{% url 'home' %}" class="current"><span></span>Главная</a></li>
            <li><a href="{% url 'articles' %}"><span></span>Блог</a></li>
            <li><a href="{% url 'courses' %}"><span></span>Курсы</a></li>
            <li><a href="{% url 'knowledge_base' %}"><span></span>База знаний</a></li>
            <li><a href="{% url 'projects' %}"><span></span>Мои проекты</a></li>
            <li><a href="{% url 'social_networks' %}"><span></span>Я в соцсетях</a></li>
            <li><a href="{% url 'about' %}"><span></span>Обо мне</a></li>
{% endblock %}


{% block content %}
    <div id="templatemo_content">
    <h1>{% block h1 %}{{ h1 }}{% endblock %}</h1>
        	<div class="post_box">

                <h2>Привет! Спасибо что заглянули сюда</h2>
                <br>
                <div class="image_wrapper"><img src="{% static 'main/png/my_photo.jpg'%}" alt="My photo" /></div>
              <p align="justify">
                  Этот сайт я создал для того, чтобы рассказать о себе и сохранить всё то, что я создаю. <br>
                  <br>
                  Здесь вы найдёте информацию обо мне, мои статьи и рассуждения, методики для проектирования систем безопасности,
                  различные курсы и всё, что мне покажется интересным.<br>
                  <br>
                  Если вы <span>студент</span>, то вам стоит заглянуть в раздел <a href="#"><span>Курсы</span></a> <br>
                  <br>
                  Если вы мой коллега-<span>проектировщик</span> или <span>инженер</span>, то загляните в <a href="{% url 'articles' %}"><span>Блог</span></a><br>
                  <br>
                  Если же вам просто интересно, кто я, собственно, такой и почему я завёл свой сайт, то загляните в раздел  <a href="#"><span>Обо мне</span></a><br>
                  <br>
              </p>
              <div class="cleaner"></div>
            </div>



        </div>


{% endblock %}

