{% extends 'main/layout_en.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block keywords %}
<meta name="keywords" content="Security systems, knowledge base Vasily Perevoshchikov" />
{% endblock %}

{% block description %}
<meta name="description" content="Knowledge base of security systems. Personal site of Vasily Perevoshchikov." />
{% endblock %}


{% block links %}
             <li><a href="{% url 'home_en' %}" ><span></span>Home</a></li>
             <li><a href="{% url 'articles_en' %}"><span></span>Blog</a></li>
             <li><a href="{% url 'courses_en' %}" ><span></span>Courses</a></li>
             <li><a href="{% url 'knowledge_base_en' %}" class="current"><span></span>Knowledge Base</a></li>
             <li><a href="{% url 'projects_en' %}"><span></span>My projects</a></li>
             <li><a href="{% url 'social_networks_en' %}"><span></span>Me in social networks</a></li>
             <li><a href="{% url 'about_en' %}"><span></span>About me</a></li>
{% endblock %}


{% block content %}
<div id="templatemo_content">
             <h1>{% block h1 %}{{ h1 }}{% endblock %}</h1>
         <div class="post_box">
                 <h2>List of knowledge base articles</h2>
                 <div class="news_meta"> Mini-articles and facts about security systems </div>
                 <div class="image_wrapper"><img src="{% static 'main/png/knowledge_base.png'%}" alt="" width=600/></div>
               <p align="justify"> A little bit about everything through the prism of security systems: <br><br>
               <ul>
             {% for el in all_kb_articles %}
                   <li><h3><a href="{{el.url}}">{{ el.article_title }}</a></h3></li>
             {% endfor %}
               </ul>
               <br>


               <div class="cleaner"></div>
             </div>
</div>
{% endblock %}

