<p><u>CMOS-matrix</u> (metal-oxide-semiconductor complementary pairs) &mdash; photosensitive matrix based on CMOS technology [14]. CMOS matrices use insulated gate field-effect transistors with channels of different conductivity. Principle of operation: before shooting, a reset signal is given, during the exposure, the charge is accumulated by the photodiode, in the process of reading, the voltage value on the capacitor is sampled</p>

<p><u>CMOS Benefits:</u></p>

<p>1) low power consumption;</p>

<p>2) the unity of technology with the rest, digital elements of equipment. This leads to the possibility of combining analog, digital and processing on a single chip, which served as the basis for miniaturizing cameras for a wide variety of equipment and reducing their cost due to the rejection of additional processor chips.</p>

<p>3) using the random access mechanism, you can read selected groups of pixels (cropping). Cropping allows you to reduce the size of the captured image and potentially increase the reading speed compared to CCD sensors, since in the latter all information must be uploaded for further processing.</p>

<p>4) Amplifier circuits can be placed anywhere along the signal path. This allows you to create amplifying cascades and increase sensitivity in poor lighting conditions.</p>

<p>5) cheapness of production in comparison with CCD matrices, especially with large matrices.</p>

<p><u>Disadvantages of CMOS sensors:</u></p>

<p>1) the photodiode of the cell occupies a significantly smaller area of ​​the matrix element, compared to the CCD matrix, which requires additional technologies and circuits to maintain light sensitivity at the CCD level;</p>

<p>2) the photodiode of the matrix cell has a relatively small size, while the magnitude of the resulting output voltage depends not only on the parameters of the photodiode itself, but also on the properties of each pixel element. Thus, each pixel of the matrix has its own characteristic curve, and there is a problem of dispersion of the photosensitivity and contrast ratio of the pixels of the matrix;</p>

<p>3) the presence of a large volume of electronic elements on the matrix compared to the photodiode creates additional heating of the device during the reading process and leads to an increase in thermal noise.</p>