<p><u>КМОП-матрица</u> (комплементарные пары металл-оксид-полупроводник) &mdash; светочувствительная матрица, выполненная на основе КМОП-технологии [14]. В КМОП-матрицах используются полевые транзисторы с изолированным затвором с каналами разной проводимости. Принцип работы: до съёмки подаётся сигнал сброса, в процессе экспозиции происходит накопление заряда фотодиодом, в процессе считывания происходит выборка значения напряжения на конденсаторе</p>

<p><u>Преимущества КМОП-матриц:</u></p>

<p>1) низкое энергопотребление;</p>

<p>2) единство технологии с остальными, цифровыми элементами аппаратуры. Это приводит к возможности объединения на одном кристалле аналоговой, цифровой и обрабатывающей, что послужило основой для миниатюризации камер для самого разного оборудования и снижения их стоимости ввиду отказа от дополнительных процессорных микросхем.</p>

<p>3) с помощью механизма произвольного доступа можно выполнять считывание выбранных групп пикселей (кадрирование). Кадрирование позволяет уменьшить размер захваченного изображения и потенциально увеличить скорость считывания по сравнению с ПЗС-сенсорами, поскольку в последних для дальнейшей обработки необходимо выгрузить всю информацию.</p>

<p>4) усилительные схемы могут быть размещены в любом месте по цепи прохождения сигнала. Это позволяет создавать усилительные каскады и повышать чувствительность в условиях плохого освещения.</p>

<p>5) дешевизна производства в сравнении с ПЗС-матрицами, особенно при больших размерах матриц.</p>

<p><u>Недостатки КМОП-матриц:</u></p>

<p>1) фотодиод ячейки занимает существенно меньшую площадь элемента матрицы, по сравнению с ПЗС матрицей, что требует дополнительных технологий и схем для поддержания светочувствительности на уровне ПЗС;</p>

<p>2) фотодиод ячейки матрицы имеет сравнительно малый размер, величина же получаемого выходного напряжения зависит не только от параметров самого фотодиода, но и от свойств каждого элемента пикселя. Таким образом, у каждого пикселя матрицы оказывается своя собственная характеристическая кривая, и возникает проблема разброса светочувствительности и коэффициента контраста пикселей матрицы;</p>

<p>3) наличие на матрице большого по сравнению с фотодиодом объёма электронных элементов создаёт дополнительный нагрев устройства в процессе считывания и приводит к возрастанию теплового шума.</p>
